* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/light-sky-clouds-675977.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#headersection {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

#headersection a {
  display: inline-block;
  margin-top: 15px;
}

header p {
  padding-top: 300px;
  font-size: 29px;
  text-align: center;
  padding-right: 20px;
}

header a {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: blue;
  color: white;
}

#welcometo {
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
  text-align: center;
  color: blue;
}

#welcometo img {
  height: 300px;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 24px;
  margin-right: 10px;
}
nav ul li a {
  padding: 25px;
  height: 15px;
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  background-color: rgb(0, 0, 255);
  color: white;
}

#billede-af-børnehave{
  padding: 50px;
  box-shadow: 10px 10px 5px blac
}


#billede-af-børnehave h2{
  font-family: "Shadows Into Light", cursive;
    font-size: 70px;
}

#white-box1 {
  display: flex;
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(163, 163, 163)
}

#white-box1 article {
  width: 50%;
  padding: 40px;
  font-size: 20px;
}

#white-box1 img{
  width: 50%;
    object-fit: cover;
}


  #billede-over-footer ul{
    margin-left: 20px;
  }
  
  #billede-over-footer{
  background-image: url("/img/billede-over-footer1.png");
  padding: 80px 0px;
  
  }

  #billede-over-footer h2{
    font-family: "Shadows Into Light", cursive;
    font-size: 70px;
  }
  
  #white-box2 {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(0, 0, 0)
  }
  
  #white-box2 article{
    width: 50%;
    padding: 60px;
    font-size: 30px;
  }
  
  #white-box2 img{
    width: 50%;
    object-fit: cover;
  }

  #billede-over-footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(25, 56, 158);
    padding: 8px 8px;
    margin: 20px;
    width: 165px;
    text-align: center;
  }

footer {
  background-image: url("../img/KBH_Skyline_johannes_lys.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  width: 100%;
  height: 500px;
}

#footer-section {
  display: flex;
  align-items: flex-start;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}
#footer-section ul {
  width: 25%;
}
#footer-galleri-div {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
}
#footer-galleri-div h4 {
  width: 100%;
}
#footer-galleri-div img {
  max-width: 30%;
  margin: 5px;
}
